.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.primary-color{
    color: #4E47FF;
    font-size: 34px;
    font-weight: 800;
}

.secondary-color{
    color: #252432;
}

.primary-btn{
    color: white;
    background-color: #4E47FF;
    font-size: 12px;
    border-radius: 10px;
    padding: 10px 20px;
    border: none;
}

header{
    background-image: url(../Assets/Hero-bg.png);
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1140px;
    height: 151px;
    margin: 0 auto;
    padding-bottom: 90px;
}

.banner{
    width: 905px;
    height: 237px;
    margin: 0 auto;
    align-items: center;
    text-align: center;
    padding-bottom: 125px;
}

h1{
    font-size: 65px;
}

/*action section*/

.action-section{
    display: flex;
    justify-content: space-between;
    margin: 100px;

}

.action-title{
    font-size: 42px;
}

.action-subtitle{
    color: rgba(37, 36, 50, 0.5);
}

.img-mini-wc-radius{
    border-radius: 48px;
}