.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.logo-color{
    color: #4E47FF;
    font-size: 34px;
    font-weight: 800;
}

.primary-color{
    color: #4E47FF;
    font-size: 60px;
    font-weight: 800;
}

.secondary-color{
    color: #252432;
}

.bg-color{
    background-color: rgba(78, 71, 255, 0.1)
}

.primary-btn{
    color: white;
    background-color: #4E47FF;
    font-size: 12px;
    border-radius: 10px;
    padding: 10px 20px;
    border: none;
}

header{
    background-image: url(../Assets/Hero-bg.png);
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1140px;
    height: 151px;
    margin: 0 auto;
    padding-bottom: 90px;
}

.banner{
    width: 905px;
    height: 237px;
    margin: 0 auto;
    align-items: center;
    text-align: center;
    padding-bottom: 125px;
}

h1{
    font-size: 65px;
}

main{
    background-color: #D6DDED;
}

/*action section*/

.action-section{
    display: flex;
    justify-content: space-between;
    margin: 100px;

}

.action-title{
    font-size: 42px;
}

.action-subtitle{
    color: rgba(37, 36, 50, 0.5);
}

.img-mini-wc-radius{
    border-radius: 48px;
}

.productive-user-section{
    text-align: center;
    margin: 100px;
    padding: 80px 150px;
    border-radius: 20px;
}

.productive-user-items{
    display: flex;
    justify-content: space-between;
}

.productive-user-subtitle{
    font-size: small;
    color: rgb(0,0,0,50%);
}

/*basic-info. Lets get in touch section*/
.info-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px;
}

.info-section-title{
    font-size: 100px;
}

.basic-info label{
    display: block;
}

.basic-info button{
    display: block;
}

input[type="text"], input[type="email"]{
    height: 60px;
    width: 500px;
    border-radius: 12px;
    border: none;
    background-color: white;
    margin-bottom: 15px;
}

textarea{
    height: 60px;
    width: 500px;
    border-radius: 12px;
    border: none;
    background-color: white;
    margin-bottom: 15px;
}

form button{
    height: 50px;
    width: 500px;
    margin-bottom: 50px;
}