.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.primary-color{
    color: #4E47FF;
    font-size: 34px;
    font-weight: 800;
}

.btn-color{
    color: white;
    background-color: #4E47FF;
    font-size: 12px;
    border-radius: 10px;
    padding: 10px 20px;
    border: none;
}



nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1140px;
    height: 151px;
    margin: 0 auto;
}

.banner{
    width: 905px;
    height: 237px;
    margin: 0 auto;
    align-items: center;
        text-align: center;
}

h1{
    font-size: 65px;
    color: #252432;
}
